$primary-color:#EE7202;
$primary-color-disabled:#402C1C;
$secondary-color:#8E0B0F;
$dark-color:#000000;
$cream-color:#F4EEE6;
$light-color:#ffffff;
$timeLong:1.5s;
$time:.5s;
$timeShort:.25s;
$timeFunction: cubic-bezier(0.645, 0.045, 0.355, 1);

$nav-link-color: #3A7FAC;
$heading-color: #3A9FD7;

@mixin breakpoint__footer {
    max-width: 100%;
    flex: 100%;
    text-align: center;
    margin-top: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}
.header--white{
  box-shadow: 0px 6px 20px #3A7FAC14;
}
.header--home{
  .header__container{
    .header__nav__list{
      a {
        color: #ffffff;
      }
    }
  }
}
.header{
  height: auto;
  max-height: 100px;
  position: absolute;
  left: 0;
  top:0;
  padding: 31px 0;
  background-color: transparent;  
  width:100%;
  z-index: 999;
  &__container{
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 60px;
    position: relative;
    @media only screen and (max-width: 595px){
      padding: 0 15px;
    }
    .logo {
      svg{
        @media only screen and (max-width: 425px){
          max-width: 240px;
        }
      }
      .header__logo {      
      }    
    }    
    .header__nav__list{
      font-weight: 500;
      @media only screen and (max-width: 992px){
        display: none;
      }
      a{
        font-size:15px;
        color:$nav-link-color;
        text-decoration: none;
        padding: 14px 10px;
        text-transform: capitalize;
        margin: 0 10px;
        &:last-child{
          padding: 14px 35px;
          margin-left: 20px;
        }
        &:hover{
          color: #292929;
          cursor: pointer;
        }
        &.nav__list__item--rounded{
          border: 1px solid #292929;
          border-radius: 25px;
          &:hover{
            background-color: #292929;
            color: #FFFFFF;
            cursor: pointer;
          }
        }    
      }      
    }
    .header__nav__list--mobile{
      font-weight: 500;
      position: absolute;
      display: flex;
      transition: top 1s linear;
      flex-wrap: wrap;
      right: 60px;
      top: -300px;
      max-width: 150px;
      background-color: #000;    
      a{
        font-size:15px;
        color:$nav-link-color;
        text-decoration: none;
        padding: 14px 10px;
        text-transform: capitalize;
        margin: 0 10px; 
        width: 100%;       
        &:hover{
          color: #292929;
          cursor: pointer;
        }            
      }
      &.visible{        
        top: 50px;        
        @media only screen and (max-width: 595px){
          right: 15px;
        }
      }     
    }
    .hamburguer__menu{
      display: none;
      @media only screen and (max-width: 992px){
        display: block;
      }
      &:hover{
        cursor: pointer;
      }
    } 
  }  
}
.main{
  padding: 180px 0;
  &.main__legales{
    font-size: 17px;
  }
  .container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    .main__heading{
      color:#fff;
      color: $heading-color;
      font-size: 50px;
      text-align: center;
      margin-bottom: 50px;
      font-weight: 300;
      &.main__heading--legales{
        color: $heading-color;
      }
    }
    .section__heading{
      color: $heading-color;
      text-align: left;
      font-size: 34px;
      font-weight: 300;
      margin: 50px 0 30px 0;
    }
    .section__text{
      color: #262722;
      font-weight: 400;
    }
    .list{
      list-style: none;
      color: #292929;
      li::before{
        content: "•";
        color: $heading-color;
        display: inline-block;
        width: 1em;
        margin-left: -1em
      }            
      &.numbered__list{
        counter-reset: li;
        li{
          counter-increment: li;
          &::before{
            content: counter(li);
            color: $heading-color;
            display: inline-block; width: 1em;
            margin-left: -1em;
          }
        }        
      }      
    }
  }
  &.main__home{
    padding: 0;
    .splash{
      height: 660px;
      background-image: url(img/desktop/bg-full.png);
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
    .splash__text{
      text-align: left;
      font: normal normal 200 66px/76px Inter;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
     }
    }
    .splash-container{
      max-width: 1440px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0 60px;
      position: relative;
    }
    .about{
      padding: 100px 0 139px 0;
      .container{
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        padding: 0 15px;
        h3.about__heading{
          text-align: center;
          font: normal normal 500 15px/33px Inter;
          letter-spacing: 0.75px;
          color: #292929;
          text-transform: uppercase;
        }
        h2.about__subheading{
          text-align: center;
          font: normal normal 300 50px/52px Inter;
          letter-spacing: 0px;
          color: #3A9FD7;
          margin-top: 0;
          margin-bottom: 24px;
        }
        p.about__text{
          text-align: center;
          font: normal normal 400 17px/30px Inter;
          letter-spacing: 0px;
          color: #292929;
          span{
            font: normal normal 600 17px/30px Inter;
          }
        }
      }
    }
    .product{
      padding: 112px 0 83px 0;
      background: transparent linear-gradient(137deg, #F0FAFF 0%, #C3EBFF 100%) 0% 0% no-repeat padding-box;
      .container{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        .product__list{
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
          margin: 50px 0;
          h3.product__list--heading{
            font: normal normal 500 15px/33px Inter;
            letter-spacing: 0.75px;
            color: #292929;
            text-transform: uppercase;
            margin-bottom: 11px;
            padding-left: 40px;
          }
          h2.product__list--subheading{
            margin-top: 0;
            margin-bottom: 24px;
            font: normal normal 300 50px/52px Inter;
            letter-spacing: 0px;
            color: #3A9FD7;
            padding-left: 40px;
          }
          p.product__list--text{
            font: normal normal 400 17px/30px Inter;
            letter-spacing: 0px;
            color: #292929;
            margin-top: 0;
            padding-left: 40px;
            span{
              font: normal normal 600 17px/30px Inter;
            }
          }
          .product__list--right.right-dos {
            p.product__list--text{
              padding-right: 40px;
              padding-left: 0;
            }
          }
          .product__list--left{
            flex: 50%;
            display: flex;
            justify-content: center;
            img{
              width: 90%;
            }
            &.left-uno{
              justify-content: flex-start;
            }
            &.left-dos{
              justify-content: flex-end;
            }
          }
          .product__list--right{
            width: 50%;
          }
        }
      }
    }
    .tabla{
      padding: 151px 0 262px 0;
      h3.tabla__heading{
        font: normal normal 500 15px/33px Inter;
        letter-spacing: 0.75px;
        color: #292929;
        text-transform: uppercase;
        margin-bottom: 11px;
        text-align: center;
      }
      h2.tabla__subheading{
        margin-top: 0;
        margin-bottom: 24px;
        font: normal normal 300 50px/52px Inter;
        letter-spacing: 0px;
        color: #3A9FD7;
        text-align: center;
      }
      p.tabla__text{
        font: normal normal 400 17px/30px Inter;
        letter-spacing: 0px;
        color: #292929;
        margin-top: 0;
        text-align: center;
        margin-bottom: 58px;
        span{
          font: normal normal 600 17px/30px Inter;
        }
      }
      img{
        width: 100%;
      }
    }
    .technology{
      padding: 185px 0;
      background: transparent linear-gradient(222deg, #31B6FF 0%, #0B57B9 100%) 0% 0% no-repeat padding-box;
      .container{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        .technology__list{
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
          margin: 50px 0;
          h3.technology__list--heading{
            font: normal normal 500 15px/33px Inter;
            letter-spacing: 0.75px;
            color: #ffffff;
            text-transform: uppercase;
            margin-bottom: 11px;
            padding-right: 40px;
          }
          h2.technology__list--subheading{
            font: normal normal 300 50px/52px Inter;
            letter-spacing: 0px;
            color: #262722;
            margin-top: 0;
            margin-bottom: 24px;
            padding-right: 40px;
          }
          p.technology__list--text{
            font: normal normal 400 17px/30px Inter;
            letter-spacing: 0px;
            color: #ffffff;
            margin-top: 0;
            padding-right: 40px;
            span{
              font: normal normal 600 17px/30px Inter;
            }
          }
          .technology__list--right.right-dos {
            p.technology__list--text{
              padding-left: 40px;
              padding-right: 0;
            }
          }
          .technology__list--left{
            flex: 50%;
            display: flex;
            justify-content: center;
            img{
              width: 90%;
            }
            &.left-uno{
              justify-content: flex-end;
            }
            &.left-dos{
              justify-content: flex-start;
            }
          }
          .technology__list--right{
            width: 50%;
          }
        }
      }
    }
    .founders{
      padding: 160px 0 130px 0;
      .container{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        h3.founders__heading{
          text-align: center;
          font: normal normal 500 15px/33px Inter;
          letter-spacing: 0.75px;
          color: #292929;
          text-transform: uppercase;
        }
        h2.founders__subheading{
          text-align: center;
          font: normal normal 300 50px/52px Inter;
          letter-spacing: 0px;
          color: #3A9FD7;
          margin-top: 0;
          margin-bottom: 24px;
        }
        p.founders__text{
          text-align: center;
          font: normal normal 400 17px/30px Inter;
          letter-spacing: 0px;
          color: #292929;
          span{
            font: normal normal 600 17px/30px Inter;
          }
        }
        .founders__list {
          display: flex;
          text-align: center;
          margin-top: 50px;
          justify-content: space-around;
          .founders__list--item{
            h3.founders__list--item--heading {
              font: normal normal 500 15px/33px Inter;
              letter-spacing: 0px;
              color: #3A9FD7;
              margin-bottom: 0;
            }
            h2.founders__list--item--subheading{
              font: normal normal 300 50px/52px Inter;
              letter-spacing: 0.7px;
              color: #292929;
              text-transform: uppercase;
              margin-top: 9px;
              margin-bottom: 20px;
            }
            p.founders__list--item--text {
              font: normal normal normal 17px/30px Inter;
              letter-spacing: 0px;
              color: #292929;
              width: 293px;
              margin-top: 0;
            }
            .founders__list--item--sociales {
              a{
                text-decoration: none;
                padding: 5px;
                &:hover{
                  svg{
                    path.uno {
                      fill: #3a9fd7;
                    }
                    path.dos {
                      fill: #ffffff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .board{
      padding: 150px 100px;
      background: transparent linear-gradient(215deg, #31B6FF 0%, #0B57B9 100%) 0% 0% no-repeat padding-box;
      padding-bottom: 700px;
      h3.board__heading {
        text-align: center;
        font: normal normal 500 15px/33px Inter;
        letter-spacing: 0.75px;
        color: #292929;
        text-transform: uppercase;
      }
      h2.board__subheading {
        text-align: center;
        font: normal normal 300 50px/50px Inter;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-top: 0;
        margin-bottom: 24px;
      }
      p.board__text {
        text-align: center;
        font: normal normal 400 17px/30px Inter;
        letter-spacing: 0px;
        color: #292929;
      }
      .board__list {
        display: flex;
        text-align: center;
        margin-top: 50px;
        justify-content: space-between;
        .board__list--item {
          img{
            width: 182px;
            height: 182px;
          }
          h3.board__list--item--heading {
            font: normal normal 300 23px/28px Inter;
            letter-spacing: 0px;
            color: #FFFFFF;
            margin-bottom: 0;
          }
          h2.board__list--item--subheading {
            font: normal normal 500 14px/30px Inter;
            letter-spacing: 0.7px;
            color: #292929;
            margin-top: 9px;
            margin-bottom: 20px;
          }
          .board__list--item--sociales {
            a{
              text-decoration: none;
              padding: 5px;
              &:hover{
                svg{
                  path.uno {
                    fill: #ffffff;
                  }
                  path.dos {
                    fill: #3a9fd7;
                  }
                }
              }
            }
          }
        }
      }
      .board__scientific {
        margin-top: 150px;
      }
    }
    .news{
      position: relative;
      top: -500px;
      height: 500px;
      .container{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        h3.news__heading {
          text-align: center;
          font: normal normal 500 15px/33px Inter;
          letter-spacing: 0.75px;
          color: #292929;
          text-transform: uppercase;
        }
        h2.news__subheading {
          text-align: center;
          font: normal normal 300 50px/50px Inter;
          letter-spacing: 0px;
          color: #FFFFFF;
          margin-top: 0;
          margin-bottom: 24px;
        }
        p.news__text {
          text-align: center;
          font: normal normal 400 17px/30px Inter;
          letter-spacing: 0px;
          color: #292929;
        }
        .news__list {
          display: flex;
          margin-top: 50px;
          justify-content: space-evenly;
          .news__list--item{
            width: 332px;
            height: 514px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 30px 30px 99px #3A7FAC4D;
            border-radius: 9px;
            position: relative;
            img{
              width: 100%;
              border-radius: 9px 9px 0 0;
            }
            .news__list--item--content{
              padding: 30px 40px;
              .news__list--item--fecha {
                font: normal normal 600 12px/22px Inter;
                letter-spacing: 0.57px;
                color: #262722;
                text-transform: uppercase;
              }
              p.news__list--item--text {
                font: normal normal 300 22px/30px Inter;
                letter-spacing: 0px;
                color: #3A9FD7;
                margin: 10px 0;
              }
              .news__list--boton{
                position: absolute;
                bottom: 40px;
                font: normal normal 600 12px/12px Inter;
                letter-spacing: 0.6px;
                color: #262722;
                text-transform: uppercase;
                span{
                  color: #3A9FD7;
                  font-size: 15px;
                }
              }
            }
            &:hover{
              cursor: pointer;
              -webkit-transform:scale(1.025);
              -moz-transform:scale(1.025);
              -ms-transform:scale(1.025);
              -o-transform:scale(1.025);
              transform:scale(1.025);
              p.news__list--item--text {
                color: #292929;
              }
              .news__list--boton{
                color: #3A9FD7;
              }
            }
          }
        }
        .botonera{
          margin: 100px;
          display: block;
          text-align: center;
          a.news__boton {
            font: normal normal 600 15px/12px Inter;
            letter-spacing: 0px;
            color: #292929;
            text-transform: uppercase;
            padding: 14px 35px;
            border: 1px solid #6CB7E5;
            border-radius: 25px;
            &:hover{
              color: #ffffff;
              background-color: #6CB7E5;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
footer{
  background-color: #000;
  padding: 100px 0 20px 0;
  color: #fff;
  .footer__container{
    max-width: 1440px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 60px;
    flex-wrap: wrap;
    .logo__footer{
      flex: 35%;
      max-width:35%;
      @media only screen and (max-width: 1199px){
        @include breakpoint__footer;
      } 
      svg{
        position: relative;
        top: -15px;
        @media only screen and (max-width: 445px){
          max-width: 300px;
        }
      }
    }
    .footer__link-list{
      flex:20%;
      max-width:20%;
      font-size: 15px;
      @media only screen and (max-width: 1199px){
        @include breakpoint__footer;
      } 
      a{
        text-decoration: none;
      }
      .footer__link-list--heading{
        margin-bottom:20px;
        font-size: 16px;
        font-weight:600;
        @media only screen and (max-width: 1199px){
          @include breakpoint__footer;
        } 
      }
      &.footer__link-list--contact{
        div{
          margin-bottom: 15px;
          &:not(.footer__link-list--heading){
            font-weight: 400;
          }
        }
        a{
          svg{
            cursor: pointer;
            &:hover{
              g{
                path:first-child{
                  fill: #fff;
                }
                path:last-child{
                  fill: #000;
                }
              }
            }
          }
          &:first-child{
            margin-right: 25px;
          }
        }
      }
      &.footer__link-list--company{
        display: flex;
        flex-wrap: wrap;
        a{
          color: #CCCCCC;
          width: 100%;
          margin-bottom: 15px;
          font-weight: 400;
          &:hover{
           color: $heading-color;
           cursor: pointer;
           text-decoration: none;
          }
        }
      }
      &.footer__link-list--locations{
        flex:25%;
        max-width:25%;
        color: #CCCCCC;
        @media only screen and (max-width: 1199px){
          @include breakpoint__footer;
        } 
        &>div{
          margin-bottom:15px;
          &:not(.footer__link-list--heading){
            font-weight: 400;
          }
          &>div{
            margin-bottom: 8px;
          }
        }
        .footer__link-list--heading{
          color: #fff;
        }
        svg{
          margin-right: 5px;
          top: 4px;
          position: relative;
        }
        .footer__link-list--heading--address{
          margin-left: 18px;
        }
      }
    }
    .footer__link-list--heading{
      text-align: left;
      font-weight: 600;
      letter-spacing: 0.64px;      
      text-transform: uppercase;
      opacity: 1;
    }
    .footer__copyright{
      flex:100%;
      width:100%;
      text-align: center;
      padding-top: 100px;
    }
  }
}
