@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Inter', sans-serif; }

.header--white {
  box-shadow: 0px 6px 20px #3A7FAC14; }

.header {
  height: auto;
  max-height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 31px 15px;
  background-color: transparent;
  width: 100%; }
  .header__container {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 60px;
    position: relative; }
    @media only screen and (max-width: 595px) {
      .header__container {
        padding: 0 15px; } }
    @media only screen and (max-width: 425px) {
      .header__container .logo svg {
        max-width: 240px; } }
    .header__container .header__nav__list {
      font-weight: 500; }
      @media only screen and (max-width: 992px) {
        .header__container .header__nav__list {
          display: none; } }
      .header__container .header__nav__list a {
        font-size: 15px;
        color: #3A7FAC;
        text-decoration: none;
        padding: 14px 10px;
        text-transform: capitalize;
        margin: 0 10px; }
        .header__container .header__nav__list a:last-child {
          padding: 14px 35px;
          margin-left: 20px; }
        .header__container .header__nav__list a:hover {
          color: #292929;
          cursor: pointer; }
        .header__container .header__nav__list a.nav__list__item--rounded {
          border: 1px solid #292929;
          border-radius: 25px; }
          .header__container .header__nav__list a.nav__list__item--rounded:hover {
            background-color: #292929;
            color: #FFFFFF;
            cursor: pointer; }
    .header__container .header__nav__list--mobile {
      font-weight: 500;
      position: absolute;
      display: flex;
      transition: top 1s linear;
      flex-wrap: wrap;
      right: 60px;
      top: -300px;
      max-width: 150px;
      background-color: #000; }
      .header__container .header__nav__list--mobile a {
        font-size: 15px;
        color: #3A7FAC;
        text-decoration: none;
        padding: 14px 10px;
        text-transform: capitalize;
        margin: 0 10px;
        width: 100%; }
        .header__container .header__nav__list--mobile a:hover {
          color: #292929;
          cursor: pointer; }
      .header__container .header__nav__list--mobile.visible {
        top: 50px; }
        @media only screen and (max-width: 595px) {
          .header__container .header__nav__list--mobile.visible {
            right: 15px; } }
    .header__container .hamburguer__menu {
      display: none; }
      @media only screen and (max-width: 992px) {
        .header__container .hamburguer__menu {
          display: block; } }
      .header__container .hamburguer__menu:hover {
        cursor: pointer; }

.main {
  padding: 180px 0; }
  .main.main__legales {
    font-size: 17px; }
  .main .container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 15px; }
    .main .container .main__heading {
      color: #fff;
      color: #3A9FD7;
      font-size: 50px;
      text-align: center;
      margin-bottom: 50px;
      font-weight: 300; }
      .main .container .main__heading.main__heading--legales {
        color: #3A9FD7; }
    .main .container .section__heading {
      color: #3A9FD7;
      text-align: left;
      font-size: 34px;
      font-weight: 300;
      margin: 50px 0 30px 0; }
    .main .container .section__text {
      color: #262722;
      font-weight: 400; }
    .main .container .list {
      list-style: none;
      color: #292929; }
      .main .container .list li::before {
        content: "•";
        color: #3A9FD7;
        display: inline-block;
        width: 1em;
        margin-left: -1em; }
      .main .container .list.numbered__list {
        counter-reset: li; }
        .main .container .list.numbered__list li {
          counter-increment: li; }
          .main .container .list.numbered__list li::before {
            content: counter(li);
            color: #3A9FD7;
            display: inline-block;
            width: 1em;
            margin-left: -1em; }

footer {
  background-color: #000;
  padding: 100px 0 20px 0;
  color: #fff; }
  footer .footer__container {
    max-width: 1440px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 60px;
    flex-wrap: wrap; }
    footer .footer__container .logo__footer {
      flex: 35%;
      max-width: 35%; }
      @media only screen and (max-width: 1199px) {
        footer .footer__container .logo__footer {
          max-width: 100%;
          flex: 100%;
          text-align: center;
          margin-top: 20px; } }
      footer .footer__container .logo__footer svg {
        position: relative;
        top: -15px; }
        @media only screen and (max-width: 445px) {
          footer .footer__container .logo__footer svg {
            max-width: 300px; } }
    footer .footer__container .footer__link-list {
      flex: 20%;
      max-width: 20%;
      font-size: 15px; }
      @media only screen and (max-width: 1199px) {
        footer .footer__container .footer__link-list {
          max-width: 100%;
          flex: 100%;
          text-align: center;
          margin-top: 20px; } }
      footer .footer__container .footer__link-list a {
        text-decoration: none; }
      footer .footer__container .footer__link-list .footer__link-list--heading {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600; }
        @media only screen and (max-width: 1199px) {
          footer .footer__container .footer__link-list .footer__link-list--heading {
            max-width: 100%;
            flex: 100%;
            text-align: center;
            margin-top: 20px; } }
      footer .footer__container .footer__link-list.footer__link-list--contact div {
        margin-bottom: 15px; }
        footer .footer__container .footer__link-list.footer__link-list--contact div:not(.footer__link-list--heading) {
          font-weight: 400; }
      footer .footer__container .footer__link-list.footer__link-list--contact a svg {
        cursor: pointer; }
        footer .footer__container .footer__link-list.footer__link-list--contact a svg:hover g path:first-child {
          fill: #fff; }
        footer .footer__container .footer__link-list.footer__link-list--contact a svg:hover g path:last-child {
          fill: #000; }
      footer .footer__container .footer__link-list.footer__link-list--contact a:first-child {
        margin-right: 25px; }
      footer .footer__container .footer__link-list.footer__link-list--company {
        display: flex;
        flex-wrap: wrap; }
        footer .footer__container .footer__link-list.footer__link-list--company a {
          color: #CCCCCC;
          width: 100%;
          margin-bottom: 15px;
          font-weight: 400; }
          footer .footer__container .footer__link-list.footer__link-list--company a:hover {
            color: #3A9FD7;
            cursor: pointer;
            text-decoration: none; }
      footer .footer__container .footer__link-list.footer__link-list--locations {
        flex: 25%;
        max-width: 25%;
        color: #CCCCCC; }
        @media only screen and (max-width: 1199px) {
          footer .footer__container .footer__link-list.footer__link-list--locations {
            max-width: 100%;
            flex: 100%;
            text-align: center;
            margin-top: 20px; } }
        footer .footer__container .footer__link-list.footer__link-list--locations > div {
          margin-bottom: 15px; }
          footer .footer__container .footer__link-list.footer__link-list--locations > div:not(.footer__link-list--heading) {
            font-weight: 400; }
          footer .footer__container .footer__link-list.footer__link-list--locations > div > div {
            margin-bottom: 8px; }
        footer .footer__container .footer__link-list.footer__link-list--locations .footer__link-list--heading {
          color: #fff; }
        footer .footer__container .footer__link-list.footer__link-list--locations svg {
          margin-right: 5px;
          top: 4px;
          position: relative; }
        footer .footer__container .footer__link-list.footer__link-list--locations .footer__link-list--heading--address {
          margin-left: 18px; }
    footer .footer__container .footer__link-list--heading {
      text-align: left;
      font-weight: 600;
      letter-spacing: 0.64px;
      text-transform: uppercase;
      opacity: 1; }
    footer .footer__container .footer__copyright {
      flex: 100%;
      width: 100%;
      text-align: center;
      padding-top: 100px; }

/*# sourceMappingURL=style.css.map */
